<div class="container main-content" style="margin:0 auto;max-width: 600px;">
  
  <form #dateForm="ngForm" name="dateForm" role="form" class="text-center">
    <div class="form-group">
      <label>Start date</label>
        <input class="form-control" placeholder="mm/dd/yyyy"
              name="startDate" [(ngModel)]="model.startDate"  ngbDatepicker #startDate="ngbDatepicker" required>

    </div>

    <div class="form-group">
      <label>Number of days</label>
        <input [(ngModel)]="model.numberDays"  #numberDays="ngModel" class="form-control" type="number" min="1" placeholder="Number of days" name="numberDays" required>
    </div>

    <div class="form-group">
      <label>Country Code</label>
      <input #countryCode="ngModel" [(ngModel)]="model.countryCode"  class="form-control" type="text" placeholder="Country code"  name="countryCode" required>
    </div>

  </form>



<ng-template #t let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <span class="custom-day" [class.hidden]="date.month !== currentMonth||disabled" [class.weekend]="isWeekend(date)" 
        [class.orange]="holyday(date)&&!disabled"><!-- [class.text-muted]="disabled" -->
    {{ date.day }}
  </span><br>
</ng-template><br>

<h4 class="text-center" *ngIf="dateForm.valid&&dateForm.dirty">This form is valid.</h4>

<hr/>
</div>

  <ngb-datepicker  container="body" (ngModelChange)="model.numberDays=undefined" outsideDays="visible" [displayMonths]="monthDiff()" navigation="none"  [dayTemplate]="t" [maxDate]="addDays()" [minDate]="PminDate" firstDayOfWeek="7" #startDate [ngModel]="model.startDate" (navigate)="date = $event.next">
    

  </ngb-datepicker>
